@model List<BikeStoresProject.ViewModels.HomeModels.OrderClass>
@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="padding:10px;">
    <a href="/Home/OrderAdd" class="btn btn-sm btn-success pull-right"> Ekle</a>
</div>

<div class="row">
    <div class="table-responsive" style="padding: 10px;">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Product Name</th>
                    <th>List Price</th>
                    <th>Quantity</th>
                    <th>Discount</th>
                    <th>Net Price</th>
                    <th>Order Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.first_name</td>
                            <td>@item.last_name</td>
                            <td>@item.product_name</td>
                            <td>@item.list_price</td>
                            <td>@item.quantity</td>
                            <td>@item.discount</td>
                            <td>@item.net_price</td>
                            <td>@String.Format("{0: dd/M/yyyy}", @item.order_date)</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">Kayıt bulunamadı</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


